.appointment-collapsable {
  .MuiAccordionDetails-root {
    flex-direction: column;
  }

  .MuiAccordionSummary-content {
    button.add-new-btn {
      margin-left: 5px;
    }
  }

  .info {
    margin-bottom: 10px;

    &__label {
      margin-right: 10px;
      width: 100px;
    }

    &__text {
      color: black;
      font-size: 17px;

      &__phone {
        color: #4b2c20;
      }
    }
  }
}