.appointments-container-primary, .appointments-container-secondary {
  display: flex;
  flex-direction: column;
  width: 100%;

  &__switch {
    .MuiFormControlLabel-label {
      opacity: 0.65;
    }
  }
}

.appointments-container-primary {
  margin: 50px 0 100px;

  &__item,
  &__day-header,
  &__switch,
  &__no-active-appointments {
    align-self: center;
    width: 100%;
    max-width: 850px;
    margin-bottom: 12px;
  }

  &__day-header {
    display: flex;
    flex-direction: row;
    padding-left: 80px;
    margin-bottom: 30px;

    &__day {
      color: #263791;
      font-weight: bold;
    }

    &__date {
      opacity: 0.8;
      margin-left: 10px;
    }

    p {
      font-size: 2em;
    }
  }

  .MuiFormControlLabel-labelPlacementStart {
    margin-right: 48px;
  }

  &__no-active-appointments {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 100px auto;

    p {
      font-size: 20px;
      opacity: 0.6;
    }
  }
}

.appointments-container-secondary {
  &__item {
    align-self: center;
    background-color: #fafafa;
    border: 1px solid #f5f5f5;
    margin-bottom: 7px;
  }

  &__switch {
    margin-bottom: 15px;
  }

  &__item, &__switch {
    align-self: center;
    width: 90%;
  }
}
