.appointments-container-primary, .appointments-container-secondary {
  display: flex;
  flex-direction: column;
  width: 100%;

  &__switch {
    .MuiFormControlLabel-label {
      opacity: 0.65;
    }
  }
}
