.modal {
    .modal-header {
        display: flex;

        h2 {
            margin: 60px 0 0 100px;
            width: 50%;
        }

        .close-btn-container {
            width: 50%;

            .close-btn {
                float: right;
                margin: 30px;
                cursor: pointer;
            }
        }
    }

    button {
        width: 50%;
        margin: auto;
    }

    .modal-footer {
        padding: 20px;
        display: flex;
    }
}
