.navigation-container {
  margin: 100px 0 100px;

  ul {
    display: flex;
    list-style-type: none;
    justify-content: center;

    li {
      padding: 20px 50px;

      a {
        text-decoration: none;
        color: black;
        font-size: 30px;
      }
    }
  }
}
