.client-details-container {
  display: flex;
  margin-bottom: 15px;
  width: 100%;

  &.MuiPaper-outlined {
    border-style: dotted;
    border-color: grey;
  }

  &.MuiPaper-root {
    background-color: #FCFCFC;
  }

  button {
    border-color: #909090;

    &.edit-btn {
      min-width: 30px;
      max-width: 30px;
      padding: 5px;
      margin: 13px 15px 0 0;
      color: #909090;
    }
  }

  .client-details {
    display: flex;
    flex-direction: column;
    width: 100%;

    .phone-container,
    .address-container {
      display: flex;
      align-items: center;
      margin: 10px 10px 0;

      &:last-of-type {
        margin-bottom: 10px;
      }

      .phone-icon,
      .address-icon {
        font-size: 22px;
        margin: 5px 10px 0 7px;

        &:last-of-type {
          margin-bottom: 5px;
        }
      }

      .phone-number,
      .comments-text,
      .address {
        color: black;
        text-decoration: none;
      }
    }

    .comments-container {
      display: flex;
      align-items: center;
      margin: 10px 10px 15px;

      .comments-icon {
        font-size: 22px;
        margin: 5px 10px 0 7px;
      }
    }
  }
}