.wrapper {
  &.fixed {
    align-items: center;
    background-color: black;
    border: 1px solid #D0D0D0;
    display: flex;
    height: 80px;
    position: fixed;
    top: -1px;
    width: 100%;
    z-index: 10;

    .search-input-container {
      button.add-new-btn {
        margin-left: 13px;
      }
    }
  }

  .search-input-container {
    display: flex;
    margin: auto;
    padding: 0 10% 0;
    max-width: 800px;
    width: 100%;

    button.add-new-btn {
      margin-left: 20px;

      p {
        margin: 1px 0 0 0;
      }
    }

    &__main-input {
      background-color: white;
      flex-grow: 5;

      input {
        width: 100%;
      }
    }
  }
}
