.auth {
  display: flex;
  flex-direction: column;
  margin-top: 100px;

  .username,
  .password {
    margin: auto;
    width: 260px;
  }
  .usernameInput,
  .passwordInput {
    padding-left: 24px;
  }
  .submit {
    max-width: 250px;
    margin: 25px auto;
  }
}
