.modal {
  .modal-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 40px 26px 0;

    .title {
      display: flex;

      h1 {
        margin: auto;
      }
    }

    .close-btn {
      cursor: pointer;
    }
  }

  button {
    width: 50%;
    margin: auto auto 20px;

    &.MuiButton-outlined {
      margin: auto;
    }
  }

  .modal-footer {
    padding: 20px;
    display: flex;
  }
}
