.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 1099px) {
  .mobile-only {
    visibility: visible;
  }

  .desktop-only {
    visibility: hidden;
  }

  .navigation-container {
    margin: 60px 30px 20px 0;
  }

  .navigation-container ul li {
    padding: 30px;
  }

  .main-content {
    overflow: hidden;
  }

  .card-actions svg {
    margin-bottom: 15px;
  }

  .name__icon {
    margin-left: -3px;
  }

  .clients-container {
    width: 91%;
  }

  .clients-container .MuiAccordionDetails-root {
    padding-left: 22px;
  }

  .clients-container button.add-new-btn, .clients-container button.remove-btn {
    min-width: 50px;
    max-width: 50px;
    padding: 5px;
  }

  .client-preview, .appointment-collapsable .MuiAccordionSummary-content {
    align-items: center;
  }

  .client-preview .action-buttons {
    max-height: 40px;
  }

  .wrapper .search-input-container {
    width: auto;
    padding: 0 5% 0;
  }

  .wrapper .search-input-container.fullWidth {
    width: 100%;
  }

  .wrapper.fixed {
    height: 60px;
  }

  .search-input-container {
    padding: 0 4% 0;
  }

  .appointments-container-primary {
    margin: auto;
    width: 96%
  }

  .appointments-container-primary__day-header {
    justify-content: center;
    padding-left: 0;
  }

  .appointments-container-primary .MuiFormControlLabel-root {
    margin: 30px 0 0 -13px;
    justify-content: center;
  }

  .appointments-container-primary__item {
    margin-right: 2px;
    width: 95%;
  }

  .appointments-container-secondary {
    padding-bottom: 0;
  }

  .appointments-container-secondary .MuiSvgIcon-root {
    margin-left: 0;
  }

  .appointments-container-secondary__item,
  .appointments-container-secondary__switch {
    margin-right: 2px;
    width: 100%;
  }

  .appointment-primary.MuiPaper-root .card-content .appointment,
  .appointment-primary.MuiPaper-root .card-content .info {
    margin-left: 5px;
  }

  .appointment-primary.MuiPaper-root .card-content .info__label {
    max-width: 80px;
  }

  .appointment-collapsable .action-buttons {
    max-height: 30px;
  }

  .appointment-collapsable .MuiAccordionSummary-content button.add-new-btn {
    margin-left: 0;
  }

  .modal button.MuiButton-sizeLarge {
    width: 93%!important;
  }

  .modal button.MuiButton-outlined {
    margin: 10px auto auto;
  }

  .modal .modal-footer {
    padding: 20px 0;
  }

  .modal .modal-header .title-container {
    width: 84%;
    margin: 15px auto auto;
  }

  .notification-banner__success div,
  .notification-banner__error div {
    padding: 0 5px;
  }

  .MuiAccordionSummary-content button.add-new-btn .add-icon {
    margin-right: 0;
  }

  .MuiFormControlLabel-root {
    display: flex;
  }

  .search-input-container .MuiButton-startIcon {
    margin: 0;
  }

  .MuiPaper-root.appointment-primary .card-actions {
    display: flex;
    flex-direction: column;
    margin: 16px 16px 0 0;
  }

  .MuiPaper-root.appointment-primary .card-content {
    padding: 15px 15px 8px;
  }

  .MuiDialog-paper {
    margin: auto!important;
  }

  .MuiDialog-paperFullWidth {
    width: calc(100% - 24px)!important;
  }
}

@media only screen and (min-width: 1100px) {
  .mobile-only {
    visibility: hidden;
  }
  .desktop-only {
    visibility: visible;
  }
}
