.MuiAccordionSummary-content {
  .appointment-preview {
    display: flex;
    justify-content: space-between;
    width: 100%;

    .action-buttons {
      display: flex;
    }

    p {
      margin-top: auto;
      margin-bottom: auto;
    }

    .icon-now {
      margin-left: -3px;
    }

    button {
      &.add-new-btn, &.remove-btn {
        min-width: 30px;
        max-width: 30px;
        padding: 5px;
      }
    }
  }
}
