.clients-container {
  display: flex;
  flex-direction: column;
  max-width: 1400px;
  width: 85%;
  margin: 50px auto 100px;


  &__title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;

    h1 {
      color: #263791;
      font-weight: bold;
      text-align: center;
    }

    svg {
      color: #263791;
      font-size: 35px;
      margin-right: 5px;
    }
  }

  .MuiAccordionDetails-root {
    padding: 8px 16px 10px;
  }

  button {
    &.add-new-btn, &.remove-btn {
      margin-left: 5px;

      .add-icon {
        margin-right: 5px;
      }
    }
  }
}
