.clients-container {
  display: flex;
  flex-direction: column;
  max-width: 1000px;
  width: 70%;
  margin: 50px auto 100px;

  .MuiAccordionSummary-content {
    justify-content: space-between;
  }
}
